{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
                <h1>Formulierenoverzicht</h1>
                <p>Maak en download csv overzichten van ingediende formulieren. Indien de csv bestanden
                    groot zijn, worden ze op de achtergond gemaakt en worden zichtbaar na het vernieuwen van de pagina.
                </p>
            </div>
        </div>
        {{#error}}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    {{error}}
                </div>
            </div>
        </div>
        {{/error}}

        <form method="POST" class="md-form">
            <div class="row">
                <div class="col-12">


                    <label for="reference">Formuliernaam:</label>
                    <input type="text" id="formName" class="form-control" name="formName"
                        placeholder="aanmeldensportactiviteit">


                </div>

            </div>
            <div class="row mt-0 mt-sm-4">
                <div class="col-sm-6 col-12 mt-5 mt-sm-1">
                    <label for="reference">Startdatum (optioneel):</label>
                    <input type="text" id="formStartDate" class="form-control" name="formStartDate"
                        placeholder="2024-01-01">
                </div>
                <div class="col-sm-6 col-12 mt-5 mt-sm-1">
                    <label for="reference">Einddatum (optioneel):</label>
                    <input type="text" id="formEndDate" class="form-control" name="formEndDate"
                        placeholder="2024-01-01">
                </div>
                <div class="col-12"> Beide datums kunnen leeggehouden worden, beide kunnen ingevuld worden of slechts
                    een datum wordt ingevuld. Einddatum mag niet na startdatum liggen.
                    Voorbeeld 1: Alleen startdatum 2024-08-01 geeft alle inzendingen tussen 1 augustus en vandaag.
                    Voorbeeld 2: 2024-01-01 als einddatum geeft alle inzendingen die voor 2024 ingediend.
                    Voorbeeld 3: Een range startdatum 2024-07-01 einddatum 2024-06-01.
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Genereer csv" class="btn btn-primary" id="generateCsvButton">
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-12">
                <h1>Formulieroverzichten</h1>
                <p class="lead">Formulieroverzichten om te downloaden.</p>
                <style>
                    table tbody tr:nth-child(even) {
                        background-color: #ffffff;
                    }

                    table tbody tr:nth-child(odd) {
                        background-color: #f2f2f2;
                    }
                    table tbody td {
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;
                    }
                </style>
                <table class="responsive-table">
                    <caption>Geschiedenis</caption>
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Formulier</th>
                            <th>Startdatum</th>
                            <th>Einddatum</th>
                            <th>Bestandsnaam</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#overview}}
                        <tr>
                            <td>{{formattedCreatedDate}} <br> {{formattedCreatedTime}}</td>
                            <td>{{formTitle}}</td>
                            <td>{{queryStartDate}}</td>
                            <td>{{queryEndDate}}</td>
                            <td><a href="/formoverview/download/{{fileName}}" title="download">{{formattedFilename}}</a>
                            </td>

                        </tr>
                        {{/overview}}
                    </tbody>
                </table>


            </div>
        </div>

    </div>

    <!-- END: template component(s) -->
</main>
<script src="/static/js/disablebutton.js"></script>

{{>footer}}