{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
                <h1>Sport overzicht</h1>
                <p>
                    Deze pagina laat alleen de formulierinzendingen zien die door jou bekeken mogen worden. De stadsdelen waarvan jij data ziet: {{allowedSportFormsInText}}
                    De overzichten kunnen gedownload worden in csv formaat. De inzendingen in het bestand zijn van de periode startdatum tot en met de datum gemaakt.
                </p>
            </div>
        </div>
       

        <div class="row">
            <div class="col-12">
                <h1>Sportoverzichten</h1>
                <p class="lead">Sportoverzichten om te downloaden.</p>
                <style>
                    table tbody tr:nth-child(even) {
                        background-color: #ffffff;
                    }

                    table tbody tr:nth-child(odd) {
                        background-color: #f2f2f2;
                    }
                    table tbody td {
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;
                    }
                </style>
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Datum gemaakt</th>
                            <th>Formulier</th>
                            <th>Startdatum</th>
                            <th>Einddatum</th>
                            <th>Bestandsnaam</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#overview}}
                        <tr>
                            <td>{{formattedCreatedDate}} <br> {{formattedCreatedTime}}</td>
                            <td>{{formTitle}}  {{appId}}</td>
                            <td>{{queryStartDate}}</td>
                            <td>{{queryEndDate}}</td>
                            <td><a href="/sport?downloadfile={{filenameForDownload}}" title="download">{{formattedFilename}}</a></td>
                        </tr>
                        {{/overview}}
                    </tbody>
                </table>


            </div>
        </div>

    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}